& when (@media-common = true) {
    .brands {
        h3 {
            position: absolute;
            margin-left: 25%;
            background: white;
        }

        hr {
            margin-top: 3rem;
        }
    }
}
