<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="giftr_item_purchase_after">
        <observer name="m_giftr_observer_giftr_item_purchase_after" instance="\Mirasvit\Giftr\Observer\GiftrItemPurchase"/>
    </event>
    <event name="sales_quote_remove_item">
        <observer name="m_giftr_observer_sales_quote_remove_item" instance="\Mirasvit\Giftr\Observer\RemoveQuoteItem"/>
    </event>
</config>
