@color-elogic__orange: #ff5500;
@color-elogic__black: #000000;
@color-elogic__white: #ffffff;
@color-elogic__white-light: #eee;
@color-elogic__grey: #888;
@color-elogic__grey-darker: #777;
@color-header-light: #ddd;
@color-header-dark: #222;
@color-newsletter-bg: #f4f4f4;
@color-control-field: #e8e8e8;
