& when (@media-common = true) {

    .subcategories-row {
        margin-top: 5%;

        .subcat {
            .lib-font-size(18);
            padding-bottom: 18px;
            letter-spacing: 1px;
            .lib-css(color, @color-header-dark);
            cursor: pointer;
            .lib-css(font-weight, @font-weight__semibold);
            overflow: hidden;
            position: relative;
            text-transform: uppercase;
            word-break: break-all;
            z-index: 1;
            display: block;
            text-decoration: none;
            border-bottom: 1px solid @color-elogic__white-light;
            margin: 0 0 @indent__s;

            a {
                .lib-link(
                    @_link-color: @color-elogic__black,
                    @_link-text-decoration: none,
                    @_link-color-visited: @color-elogic__black,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @color-elogic__black,
                    @_link-text-decoration-hover: none,
                    @_link-color-active: @color-elogic__black,
                    @_link-text-decoration-active: none
                );
            }
        }
    }
}
